@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(36, 36, 41);
    color: rgb(229 231 235);
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 5%;
}

section {
    font-size: 1.2em;
    margin: 2.5% 15% 2.5% 5%;
}

section>p,
h2 {
    margin-left: 2%;
    padding-right: 25%;
}

.container {
    display: flex;
    gap: 35px;
}

.row {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 1.3em;
    font-weight: bold;
}