@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(36, 36, 41);
    color: rgb(229 231 235);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a:visited {
    color: rgb(173, 118, 188);
}

h1 {
    text-align: center;
    margin-bottom: 1%;
}

section {
    font-size: 1.2em;
    margin: 2.5% 15% 2.5% 5%;
}

section>p,
h2 {
    margin-left: 2%;
    padding-right: 25%;
}


.row {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 2fr;
    gap: 30px;
    border-bottom: 1px solid rgb(229 231 235);
    margin-top: 1%;
}

.header {
    font-size: 1.2em;
    font-weight: bold;
}

button,
select {
    background-color: rgb(64, 64, 93);
    color: rgb(229 231 235);
    padding: 1.1%;
    border: 0;
    border-radius: 5%;
}

button:hover {
    background-color: rgb(142, 142, 215);
    color: rgb(46, 46, 46);
    cursor: pointer;
}

button:active {
    background-color: rgb(98, 98, 211);
}


ul.horizontal {
    background-color: rgb(49, 46, 53);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a.active {
    background-color: rgb(114, 3, 136);
}

h3.problem {
    margin-bottom: 4%;
}

.form-group {
    margin-bottom: 2.5%;
}

.form-group label {
    display: block;
}

.form-group input {
    padding: 8px 10px;
    line-height: 120%;
}

.form-group input:invalid,
.form-group textarea:invalid,
.form-group select:invalid {
    border: 3px solid red;
    border-radius: 5px;
}

button.submit-problem {
    padding: 1%;
}

.form-group textarea {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}